.Container{
  margin:0px;
  margin-left: 8rem;
  justify-content: center;
}
.Divider{
  border-top-color: #707070 !important;
  font-size: 32px !important;
  margin-top: 2rem;
}
.ContainerCard{
  border: 2px solid #686868;
  border-radius: 5%;
  margin: 2rem;
  width: 100%;
  max-width: 320px;
  padding-bottom: 2rem;
}
.ContainerCard header{
  margin: 2rem 2rem !important;
  text-align: -webkit-center;
}
.ContainerCard img{
  margin:center;
  border-radius: 5%;
}
.ContainerCard h3{
  text-align: center;
}
.ContainerCard h5{
  padding: 0rem 2rem;
  height: 6rem;
}
.Empresa{
  text-align: unset !important;
  margin-left: 2rem;
  color: #191970 !important;
}

.ContainerCard main p{
  font-size: 32px;
  float: right;
  margin-right: 1rem;
  margin-bottom: 3px;
  
}
.ContainerCard main p:hover{
  color: #4169E1;
  border-bottom: 1px solid #191970 !important;
}
.ContainerCard:hover{
  transform: translateX(1px) rotate(3deg) translateY(2px);
}
@media only screen and (max-width: 850px) {
  .Container{
    flex-flow: row wrap !important;
  }
  
}