.Container{
  margin:0px;
  margin-left: 8rem;
}
.Divider{
  border-top-color: #707070 !important;
  font-size: 32px !important;
}
.Projetos{
  margin-right: 2rem;
  margin-top: 2rem;
  padding: 2rem 2rem;
  border-radius: 5%;
  border:3px solid #686868;
}
.Image{
  display: grid;
}
.Projetos:hover{
  transform: translateX(1px) rotate(3deg) translateY(2px);
}
.Conteudo hr{
  position: relative;
  margin-top: 2rem;
  background-color: #686868 !important;

}
.Conteudo h3{
  margin-top: 2rem;
  color:#6a6a6a !important;
}
.Conteudo p{
  height: 10%;
  color:#787878
}
.Conteudo h5{
  color:#6a6a6a !important;
  height: 8%;  
}
.Empresa{
  text-align: unset !important;
  margin-left: 2rem;
  color: #191970 !important;
}
.ConteudoLink{
  float: right;
}
.ConteudoLink:hover{
  color: #4169E1;
  border-bottom: 1px solid #191970 !important;
}
.Line{
  margin:2rem 0rem;
}
.Tag{
  font-weight: 700;
  font-size: 16px !important;
}
@media only screen and (max-width: 1200px) {
  .Projetos{
    flex: 0 0 40% !important;
    max-width: 50% !important;
  }

}

@media only screen and (max-width: 600px) {
  .Projetos{
    flex: 0 0 80% !important;
    max-width: 100% !important;
  }
  
}